* {
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

.article-login {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 32rem;
  width: 100%;
}

legend {
  font-size: 3rem;
  font-weight: 600;
}

label {
  font-weight: 600;
  font-size: 1rem;
  display: block;
}

.form-input {
  padding: 0.5rem;
  width: 100%;
  border-style: solid;
  border-width: 1px;
}

.login-btn {
  border-style: solid;
  border-width: 1px;
  background-color: #777777;
  border: solid white 1px;
  transition: all .3s ease-in-out;
  font-size: 0.875rem;
}

.login-btn:hover {
  transform: scale(1.05);
}

.form-input:hover {
  background-color: white;
}

.Link {
  text-decoration: none;
  text-decoration-style: none;
  text-decoration-line: none;
  color: white;
}

.lh-copy {
  line-height: 1.5;
}