.container {
    margin-top: 250px;
    height: 100%;
}

.btn {
    border: 1px solid white;
    color: white;
    background-color: black;
    transition: all .3s ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
    border: 2px solid white;
    background-color: black;
}