* {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.f3 {
    font-size: 1.5rem;
}

.center {
    display: flex;
    justify-content: center;
}

.form {
    width: 700px;
    background-size: 20px 20px;
    padding: 2rem;
    border-radius: 0.5rem;
}

.form-input {
    font-size: 1.25rem;
    padding: 0.5rem;
    width: 70%;
}

.form-btn {
    display: inline-block;
    font-size: 1.25rem;
    padding: 0.5rem;
    width: 30%;
    text-decoration: none;
    transition: color .15s ease-in;
    background-color: #A463F2;
}

.form-btn:hover {
    transform: scale(1.05);
}

.file {
    background-color: white;
}

@media only screen and (max-width: 1000px) {
    .f3 {
        font-size: 1rem;
    }

    .form-btn {
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}